<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CDNを利用したVueのサンプル</title>
</head>

<body>

    <div id="app">
        <!-- 01 -->
        {{name}}さん、いらっしゃい<br /><!-- 01 -->
        <ul>
            <!-- 02 -->
            <li v-for="game in games">{{game}}</li><!-- 02 -->
        </ul><!-- 02 -->

        <ul>
            <!-- 03 -->
            <li v-for="game in gamesapi">
                <!-- 03 -->
                <input type="number" v-model.number="game.stock"><!-- 06 -->
                商品名：{{game.name}} |
                <!-- 03 -->
                <span v-if="game.stock === 0">在庫無し</span><!-- 03 -->
                <span v-else>在庫：{{game.stock}}個</span><!-- 03 -->
                <button @click="game.stock += 1">在庫を増やす</button><!-- 05 -->
            </li><!-- 03 -->
        </ul>


        <h2>全商品の在庫：{{totalProducts}}個</h2><!-- 04 -->
    </div><!-- 01 -->


    <script src="https://cdn.jsdelivr.net/npm/vue"></script><!-- 01 -->
    <script>
        var App = new Vue({ //<!-- 01 -->
            el: '#app',//<!-- 01 -->
            data: {//<!-- 01 -->
                name: "山田太郎",//<!-- 01 -->
                games: [//<!-- 02 -->
                    "Cities: Skylines",
                    "fifa20",
                    "Last of us 2",
                    "GTA"
                ],//<!-- 02 -->
                gamesapi: []//<!-- 03 -->
            },
            //<!-- 03 -->
            created() { //< createdはvueのライフサイクルフックのひとつ　詳細：　https://jp.vuejs.org/v2/api/#created
                fetch('https://api.myjson.com/bins/tw4ls') //ダミーで作成したjsonをapiで取得(http://myjson.com/tw4ls)
                    .then(response => response.json())
                    .then(json => {
                        this.gamesapi = json.products
                    })
            },//<!-- 04 -->
            computed: {　//computed = vueの算出プロパティ　詳細：https://jp.vuejs.org/v2/guide/computed.html
                totalProducts() {
                    // reduceメソッド ＝ http://js.studio-kingdom.com/javascript/array/reduce
                    return this.gamesapi.reduce((sum, product) => {
                        return sum + product.stock
                    }, 0)
                }
            }
        });

    </script>
</body>

</html>